// Shadow
$box-top-left: 0 16px 32px 0 rgba(49, 49, 93, 0.15);

// Colors
$color-white: #fff;
$light-gray: #999A9B;

// Size, spaces
$zero: 0;
$space-small: 4px;
$space-medium: 8px;
$space-normal: 16px;




$font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;